@model IServiceSettings

<div class="row p-2">
    <div class="col-md-3 border-gradient p-2 text-white">

        <h2>Сервисы @Model.ServiceName</h2>
        <ul class="list-group">
            @{
                var controller = ViewContext.RouteData.Values["controller"]?.ToString();

                foreach (var (convertMode, ruConvertMode) in Model.Modes)
                {
                    <div class="pb-2">
                        <a class="list-group-item list-group-item-action text-dark rounded border-light" onclick="replaceContentsOfDiv('@convertMode', '@controller')">
                            @ruConvertMode
                        </a>
                    </div>
                }

            }
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div id="placeHolderDiv" class="col-md-8 border-gradient text-white p-2">
        <h1>Выберете нужный сервис</h1>
    </div>
</div>

<script>
    function replaceContentsOfDiv(action, controller) {
        $.ajax({
            url: '/' + controller + '/' + action,
            data: { },
            type: "GET",
            success: function(data) {
                $('#placeHolderDiv').html(data);
            }
        });
    }
</script>